.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(255, 255, 255);
    /*background-image: linear-gradient(79deg,#7439db,#C66FBC 48%,#F7944D);*/
  }
  
  .sub-main{
    display: flex;
    justify-content: center;
    height:550px;
    width:50%;
    box-shadow:5px 5px 5px 5px rgb(207,207,207) ;
    padding-top:30px;
    border-radius: 4px;
    background-color: rgb(241,148,180);
  }

  h1{
    
    font-size: 40px;
    padding-bottom: 20px;
    color:rgb(104,53,56);
  }
  .imgs{
    height: 100px;
    justify-content: center;
    display: flex;
    
  }
  /*
  .profile{
    height: 150px;
    width: 400px;
    border-radius: 10px;
  }
  */
  input{
    width:300px;
    height:50px;
    border-radius:5px;
    
    border:none;
    outline:none;
    background-color: #fff;

  }
.email{
  height:25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
  padding-right: 20px;

}
.pass{
  height:25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}

.name{
  padding-left: 20px;
  font-size: 20px;
}

.second-input{
  padding-top: 20px;
  padding-bottom: 30px;
}
.b1{
  width: 150px;
  height:50px;
  border-radius: 15px;
  background-color: rgb(241,148,180);
  font-size: 20px;
  font-family:'Poppins',Arial, Helvetica, sans-serif;
  color:rgb(255, 255, 255);
  margin-bottom: 20px;
}

.b1:hover {
  background-color:rgb(255, 255, 255);
  color: rgb(241,148,180);
}
.Link{
  width: 150px;
  height:50px;
  border-radius: 15px;
  background-color:rgb(241,148,180);
  font-size: 20px;
  font-family:'Poppins',Arial, Helvetica, sans-serif;
  color:rgb(255, 255, 255);
  
}
.Link:hover {
  
  background-color: rgb(104,53,56);
  color:#fff
}
a{
  color: blue;

}

h3{
  color: rgb(104,53,56);
}