:root {
    --hero-text-color: whitesmoke;
    --hero-text-shadow-color: rgb(76, 76, 76);
  }
  
  .hero {
    width: 100%;
    height: 65vh;
    position: relative;
    padding-top: var(--navbar-height);
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    background: var(--hero-text-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px var(--hero-text-shadow-color);
  }
  
  .hero-text p {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--hero-text-color);
    padding: 0.5rem 0 2rem 0;
    text-align: center;
    text-shadow: 2px 2px 2px var(--hero-text-shadow-color);
  }
  
  .hero-text .btn {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-size: 2.5rem;
    text-align: center;
    width: 200px;
    cursor: pointer;
    padding: 0 20px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--text-color);
    position: relative;
    transition: all 0.5s;
  }
  
  .hero-text .btn::before,
  .hero-text .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--secondary-color);
    z-index: -1;
    transition: all 0.5s;
  }
  
  .hero-text .btn::before {
    top: 0;
    left: 0;
  }
  
  .hero-text .btn::after {
    bottom: 0;
    right: 0;
  }
  
  .hero-text .btn:hover {
    color: var(--primary-color);
  }
  
  .hero-text .btn:hover::before,
  .hero-text .btn:hover::after {
    width: 0;
    height: 0;
  }
  
  @media screen and (max-width: 555px) {
    .hero-text h1 {
      padding: 10px 20px;
    }
    .hero-text p {
      font-size: 1.1rem;
      padding: 0 0 2rem 0;
    }
    .hero-text .btn {
      font-size: 1rem;
      height: 40px;
      line-height: 40px;
    }
  }
  
  .des-text {
    margin: 1rem 4rem 1rem 6rem;
    width: 60%;
  }
  
  .des-text h1 {
    font-size: 3rem;
    line-height: 1.8;
  }
  
  .maindisplay {
    display: flex;
  }
  
  .businesshours {
    margin: 1rem 6rem 1rem 0;
    font-size: 3rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #683538;
  }
  
  .businesshours h2 {
    padding-bottom: 10px;
    color: black;
  }
  
  .businesshours p {
    font-size: 1.8rem;
  }
  
  @media screen and (max-width: 555px) {
    .maindisplay {
      flex-direction: column;
    }
  
    .des-text {
      margin: 1rem 2rem;
      width: 100%;
    }
  
    .businesshours {
      margin: 1rem 2rem;
      font-size: 1.5rem;
    }
  }
  