.hero{
    width: 100%;
    height:65vh;
    position:relative;
}

img
{
    width:100%;
    height:100%;
    object-fit: cover;

}
.hero-text{
    position:absolute;
    top:35%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    text-align: center;

}
.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    background:whitesmoke;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero-text p{
    font-size: 1.3rem;
    font-weight: 800;
    color:whitesmoke;
    padding:0.5rem 0 2rem 0;
    text-align: center;
}

.hero-text .show{
    text-decoration: none;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;

}
@media screen and (max-width:555px)
{
    .hero-text h1{
        padding: 10px 20px;
    }
    .hero-text p{
        font-size:1.1rem;
        padding:0 0 2rem 0;
    }
    .hero-text .show{
        padding:.6rem 1.1rem;
        border-radius: 6px;
        font-size:1rem;
    }

}

.des-text
{
    margin: 4rem 6rem;
    display: flex;
    align-items: center;
    

}

.des-text h1{
    font-size: 3 rem;
}
