.hero-in{
    width: 100%;
    height:65vh;
    position:relative;
}

.hero-text{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    text-align: center;
    font-weight:800;
    
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    background:whitesmoke;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Card{
    justify-content: center;
    padding-top: 50px;
    padding: 20px;
    position: inherit;
}