:root {
  --navbar-height: 60px;
  --primary-color: rgb(216, 99, 130);
  --secondary-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  z-index: 1000;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;
  position: relative;
  opacity: 0.8;
}

#navbar li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--secondary-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#navbar li a:hover {
  color: var(--text-color);
  opacity: 1;
}

#navbar li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.site-title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 1000;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}

.site-title:hover {
  color: var(--text-color);
  opacity: 1;
}
